[MESSAGES CONTROL]

disable=no-name-in-module,
        unused-variable,
        import-error,
        too-many-return-statements,
        too-many-branches,
        no-else-return,
        too-many-boolean-expressions,
        inconsistent-return-statements,
        broad-except,
        expression-not-assigned

[BASIC]

good-names=f,df,uid
