---
name: Type Check

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  mypy:
    name: Type Checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy types-requests types-jsonschema
          pip install -e .

      - name: Run mypy
        run: mypy cli/janitor --ignore-missing-imports
